.col-md-3 {
    margin-top: 25px;
}

.dv {
    background-image: url(../../assets/images/min.jpg);
    height: 1000px;
}

.container {
    padding-top: 300px;
}

.Player {
    width: 44px;
}
.Mob {
    width: 44px;
}
.Animal {
    width: 44px;
}
.mobs {
 height: 233px;
}

.boses {
 height: 242px!important;
}

.example-card {
    background-image: url(../../assets/images/back.jpg);
    background-color: #4d2a1b!important;
    font-family: 'Bebas Neue', cursive!important;
    color: white;
    padding-top: 10px;
    box-shadow: 11px 25px 55px rgb(40, 15, 20);
}

.font {
    font-family: 'Bebas Neue', cursive!important;
    color: white!important;
  }
  
