<div class="accordion">
    <div class="container">
        <div class="row">
        <div class="card v" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><img src="../../assets/images/crepeer.webp" class="crp" alt=""><i class="fa-sharp fa-solid fa-question q"></i></h5>
              <h6 class="card-subtitle mb-2 text-muted font t"></h6>
              
              <mat-accordion>
                <mat-expansion-panel class="font" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="size">
                        How many meters does one Minecraft block equal? 
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p class="size">Each block is one meter</p>
                </mat-expansion-panel>
                <mat-expansion-panel class="font" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="size">
                        When you first spawn in the game what dimension do you start in?
                    </mat-panel-title>
                
                  </mat-expansion-panel-header>
                  <p class="size">The overworld. This is where most people spend most of their time in Minecraft.</p>
                </mat-expansion-panel>
              </mat-accordion>

              
            </div>
          </div>
          <div class="card v" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><img src="../../assets/images/crepeer.webp" class="crp" alt=""><i class="fa-sharp fa-solid fa-question q"></i></h5>
              <h6 class="card-subtitle mb-2 text-muted font t"></h6>
              
              <mat-accordion>
                <mat-expansion-panel class="font" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="size">
                        What is the most famous evil mob in Minecraft?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p class="size">The creeper of course! This character is iconic in Minecraft and will hiss at you before blowing up next to you.</p>
                </mat-expansion-panel>
                <mat-expansion-panel class="font" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="size">
                        What type of food do cows and sheep eat?
                    </mat-panel-title>
                
                  </mat-expansion-panel-header>
                  <p class="size">Wheat which you can farm by planting seeds.</p>
                </mat-expansion-panel>
              </mat-accordion>

              
            </div>
          </div>
          <div class="card v" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><img src="../../assets/images/crepeer.webp" class="crp" alt=""><i class="fa-sharp fa-solid fa-question q"></i></h5>
              <h6 class="card-subtitle mb-2 text-muted font t"></h6>
              
              <mat-accordion>
                <mat-expansion-panel class="font" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="size">
                        Where can you find the Drowned Mob?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p class="size">In dark water. You usually find them in the deep oceans but you can find them underground too. You can also turn zombies into drowned by drowning them in water!</p>
                </mat-expansion-panel>
                <mat-expansion-panel class="font" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="size">
                        What is the most common crafting material used
                    </mat-panel-title>
                
                  </mat-expansion-panel-header>
                  <p class="size">Wood! You need it for so many things in Minecraft.</p>
                </mat-expansion-panel>
              </mat-accordion>

              
            </div>
          </div>
          <div class="card v" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><img src="../../assets/images/crepeer.webp" class="crp" alt=""><i class="fa-sharp fa-solid fa-question q"></i></h5>
              <h6 class="card-subtitle mb-2 text-muted font t"></h6>
              
              <mat-accordion>
                <mat-expansion-panel class="font" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="size">
                        How many alternative dimensions can you visit as well as the overworld?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p class="size">The nether which is a world full of lava and scary monsters and The End which is a barren dimension with lots of islands and a very long fall into the void.</p>
                </mat-expansion-panel>
                <mat-expansion-panel class="font" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="size">
                        If you kill a zombie what items could you get?
                    </mat-panel-title>
                
                  </mat-expansion-panel-header>
                  <p class="size">Most commonly zombies drop rotten flesh but they can sometimes drop carrots and potatoes. Rarely a zombie will drop armor, tools and even an iron ingot.</p>
                </mat-expansion-panel>
              </mat-accordion>

              
            </div>
          </div>
          <div class="card v" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><img src="../../assets/images/crepeer.webp" class="crp" alt=""><i class="fa-sharp fa-solid fa-question q"></i></h5>
              <h6 class="card-subtitle mb-2 text-muted font t"></h6>
              
              <mat-accordion>
                <mat-expansion-panel class="font" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="size">
                        Where can you get enchanted books from?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p class="size">You can get enchanted books from loot chests or form trading with librarian villagers.</p>
                </mat-expansion-panel>
                <mat-expansion-panel class="font" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="size">
                        What tool do you need to gather stone and ore? 
                    </mat-panel-title>
                
                  </mat-expansion-panel-header>
                  <p class="size">Pickaxe. You can craft them from wood, iron, gold, diamond or netherite. Although, not all pickaxes will work for all types of materials.</p>
                </mat-expansion-panel>
              </mat-accordion>

              
            </div>
          </div>
          <div class="card v" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><img src="../../assets/images/crepeer.webp" class="crp" alt=""><i class="fa-sharp fa-solid fa-question q"></i></h5>
              <h6 class="card-subtitle mb-2 text-muted font t"></h6>
              
              <mat-accordion>
                <mat-expansion-panel class="font" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="size">
                        What tool do you need to make crop farms?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p class="size">a hoe. These are used to make farmland to plant you crops in. You can also use a hoe to get leaf blocks too.</p>
                </mat-expansion-panel>
                <mat-expansion-panel class="font" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="size">
                        Do you know how many versions of Minecraft there are?
                    </mat-panel-title>
                
                  </mat-expansion-panel-header>
                  <p class="size">There are two versions. Java edition which can only be played on a pc and Bedrock edition which can be played on consoles, pc’s and on phones. The phone version is also sometimes called ‘pocket edition’</p>
                </mat-expansion-panel>
              </mat-accordion>

              
            </div>
          </div>
        </div> 
    </div>
</div>