.ct {
    background-image: url(../../assets/images/brown.jpg);
    color: white !important;
    font-family: 'Bebas Neue', cursive!important;
}

.nav-link {
    color: white !important;
}

h5 {
    font-family: 'Bebas Neue', cursive!important;
font-size: 20px;
}

.btn-success {
    background-image: url(../../assets/images/green.webp);
}