<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" aria-label="Ninth navbar example">
    <div class="container-xl">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07XL">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/game">game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/questions">questions</a>
          </li>
          
        </ul>
        <a class="navbar-brand" routerLink="/home"><img src="../../assets/images/LOGO.png" class="logo" alt=""></a>
        <form role="search">
          <a routerLink="/get" class="btn btn-success">Sign in</a>
          <a class="btn btn-success s" routerLink="/forms">Log in</a>
        </form>
      </div>
    </div>
  </nav>
