.get {
    background-image: url(../../assets/images/xxx.jpg);
    height: 1000px;
    padding-top: 400px;
}

.back {
    background-image: url(../../assets/images/tree.jpg);
    margin-left: auto;
    margin-right: auto;
}

.font {
    color: white!important;
}

.btn-success {
    background-image: url(../../assets/images/green.webp);
    margin-right: 10px!important;
    border: none;
}